# Environments
.env
.env.local
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
